body {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;

    #main-grid {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        gap: 20px 20px;

        header {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            display: block;
            background-color: #333333;
            padding: 10px;

        }
        nav {
            background-color: #333333;
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            padding: 10px;
        }
        main {
            background-color: #333333;
            grid-row: 2/ span 1;
            grid-column: 2 / span 1;
            min-height: 70vh;
            padding: 10px;
        }

        footer {
            background-color: #333333;
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
            padding: 10px;
        }
    }
}