$one-column-width: 1000px;

// CSS Variables:
:root {
    --block-color: #333333;
}

@mixin grid-block ($row, $col, $row-wide, $col-wide) {
    background-color: var(--block-color);
    padding: 10px;
    grid-row: $row;
    grid-column: $col;

    @media screen and (min-width: $one-column-width) {
        grid-row: $row-wide;
        grid-column: $col-wide;
    };
}

body {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;

    a {
        color:darkolivegreen;
    }

    a:visited {
        color:darkolivegreen;
    }

    #main-grid {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        gap: 20px 0px;

        @media screen and (min-width: $one-column-width) {
            grid-template-columns: 10% 80% 10%;
            gap: 20px 20px;
        };

        header {
            @include grid-block(
                1 / span 1,
                2 / span 1,
                1 / span 1,
                2 / span 1
            );
        }
        nav {
            @include grid-block(
                2 / span 1,
                2 / span 1,
                2 / span 1,
                1 / span 1
            );
        }
        main {
            min-height: 75vh;
            @include grid-block(
                3 / span 1,
                2 / span 1,
                2 / span 1,
                2 / span 1
            );
        }

        footer {
            @include grid-block(
                3 / span 1,
                2 / span 1,
                3 / span 1,
                2 / span 1
            );
        }
    }
}