<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}

    <title>{{title}}</title>

    {% for key, value in meta.items() %}
        <meta property="{{key}}" content="{{value}}"/>
    {% endfor %}
    {# <link rel="icon" href="/favicon.ico"> #}
    {# <link rel="icon" href="/favicon.svg" type="image/svg+xml"> #}
    {# <link rel="apple-touch-icon" href="/apple-touch-icon.png"> #}

    {% for i in styles %}
        <link rel="stylesheet" href="{{ i.get_rsrc_path() }}"/> 
    {% endfor %}
    {% for i in scripts %}
        <script type="text/javascript" src="{{ i.get_rsrc_path() }}"></script>
    {% endfor %}
</head>

<body>

</body>
</html>