<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}

    <title>{{title}} - LT_Schmiddy's Stash</title>

    {% for key, value in meta.items() %}
        <meta property="{{key}}" content="{{value}}"/>
    {% endfor %}
    {# <link rel="icon" href="/favicon.ico"> #}
    {# <link rel="icon" href="/favicon.svg" type="image/svg+xml"> #}
    {# <link rel="apple-touch-icon" href="/apple-touch-icon.png"> #}

    {% for i in styles %}
        <link rel="stylesheet" href="{{ i.get_rsrc_path() }}"/> 
    {% endfor %}
    {% for i in scripts %}
        <script type="text/javascript" src="{{ i.get_rsrc_path() }}" defer></script>
    {% endfor %}
</head>

<body>
    <div id="main-grid">
    {% include "./cmpts/nav.html" %}
        <header>
            $ <span id="header-typeout">LT_Schmiddy's Stash</span><span id="header-blink">|</span>
        </header>
        
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            Copyright: Alex Schmid, 2025
        </footer>
    </div>
</body>
</html>